<h1>SICIN - Sistema de Cadastro de Investimentos</h1>
<ul>
    <li><a href="{{ path('instituicao_financeira') }}">Instituição Financeira</a></li>
    <li><a href="{{ path('ativo_categoria') }}">Categoria Ativo</a></li>
    <li><a href="{{ path('ativo_tipo') }}">Tipo Ativo</a></li>
    <li><a href="{{ path('ativo') }}">Ativo</a></li>
    <li><a href="{{ path('posicao') }}">Posição</a></li>
</ul>
