{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Ativos</h1>
            <p class="text-right">
                <a class="btn btn-default btn-success" href="{{ path('ativo_new') }}">Novo ativo</a>
            </p>
        </div>

    <table class="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Código</th>
                <th>Dt Vencimento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ativo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.codigo }}</td>
                <td>{% if entity.dataVencimento %}{{ entity.dataVencimento|date('d/m/Y') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ativo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
