{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}

<div class="row">
  <div class="col-md-12">
      <div class="page-header">
        <h1>Editar posição</h1>
        {% if entity is defined %}
          <p class="text-right">
            <a class="btn btn-default btn-danger" href="{{ path('posicao_delete', {'id': entity.id}) }}" title="Remover a posição">Remover posição
            </a>
            <a class="btn btn-default" href="{{ path('posicao') }}">Voltar para a lista</a>
          </p>
        {% endif %}
      </div>

      {{ form_start(edit_form) }}

      {% if form_errors(edit_form) %}
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ form_errors(edit_form) }}
        </div>
        {% endif %}

    <div class="row">
      <div class="col-md-2">
        {{ form_row(edit_form.dataReferencia) }}
      </div>
      <div class="col-md-3">
        {{ form_row(edit_form.instituicaoFinanceira) }}
      </div>
      <div class="col-md-7">
        {{ form_row(edit_form.ativo) }}
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-1">
        {{ form_row(edit_form.quantidade) }}
      </div>
      <div class="col-md-2">
        {{ form_row(edit_form.valorBrutoTotal) }}
      </div>
      <div class="col-md-3">
        <div>
          <label></label>
        </div>
          <button id="botaoRepetirPosicao" type="button" class="btn btn-default" title="Repetir posição mês anterior">
            <span class="glyphicon glyphicon-star"></span>
          </button>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-2">
        {{ form_row(edit_form.valorLiquidoTotal) }}
      </div>
      <div class="col-md-2">
        {{ form_row(edit_form.valorMercado) }}
      </div>
      <div class="col-md-2">
        {{ form_row(edit_form.valorProvento) }}
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-2">
        {{ form_row(edit_form.submit) }}
      </div>
    </div>
      {{ form_rest(edit_form) }}
      </form>
  </div>
</div>

<p></p>

<script>
$(function() {
    $("#botaoRepetirPosicao").click(function() {
        //get
        if_id    = $('#royopa_sicinbundle_posicao_instituicaoFinanceira').val();
        ativo_id = $('#royopa_sicinbundle_posicao_ativo').val();

        var API = "{{ app.request.schemeAndHttpHost }}/sicin/web/app.php/posicao/get_ultima_posicao?callback=?";

        $.getJSON( API, { if_id: $('#royopa_sicinbundle_posicao_instituicaoFinanceira').val(), ativo_id: $('#royopa_sicinbundle_posicao_ativo').val() } )
            .done(function( data ) {
                $('#royopa_sicinbundle_posicao_valorBrutoTotal').val(data.vr_bruto_total);
                $('#royopa_sicinbundle_posicao_quantidade').val(data.quantidade);
                alert( "Valores carregados com sucesso!");
            })
            .fail(function( jqxhr, textStatus, error ) {
                var err = textStatus + ", " + error;
                alert( "Request Failed: " + err );
            });
        });
    });
</script>

{% endblock %}