{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Posição</h1>

    <table class="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dt Ref.</th>
                <th>Qtd</th>
                <th>Vr Mercado</th>
                <th>Vr Bruto Total</th>
                <th>Vr Liq total</th>
                <th>Vr Rend Total</th>
                <th>Pc Rend Total</th>
                <th>Vr provento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('posicao_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dataReferencia %}{{ entity.dataReferencia|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.quantidade }}</td>
                <td>{{ entity.valorMercado }}</td>
                <td>{{ entity.valorBrutoTotal }}</td>
                <td>{{ entity.valorLiquidoTotal }}</td>
                <td>{{ entity.valorRendimentoTotal }}</td>
                <td>{{ entity.percentualRendimentoTotal }}</td>
                <td>{{ entity.valorProvento }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('posicao_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('posicao_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('posicao_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
