{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
              Posição
              {% if dataReferencia is defined %}
                {{ dataReferencia|date('d/m/Y') }}
              {% endif %}
            </h1>
            <p class="text-right">
                <a class="btn btn-default btn-success" href="{{ path('posicao_new') }}">Nova posição</a>
            </p>
        </div>

    <table class="datatable table table-condensed table-striped">
        <thead>
            <tr class="small">
                <th>Data</th>
                <th>Instituição Financeira</th>
                <th>Ativo</th>
                <th>Valor de mercado</th>
                <th>Valor proventos</th>
            </tr>
        </thead>
        <tbody>
        {% set valorTotalMercado = 0 %}
        {% set valorTotalProvento = 0 %}
        {% for entity in entities %}
            <tr>
                <td>
                  <a href="{{ path('posicao_edit', { 'id': entity.id }) }}">
                    {{ entity.dataReferencia.format('d/m/Y') }}
                  </a>
                </td>
                <td>{{ entity.instituicaoFinanceira.nome|split(' ')[0] }}</td>
                <td title="{{ entity.instituicaoFinanceira.nome }} - {{ entity.ativo.nome }} - Quantidade: {{ entity.quantidade|number_format(2, ',', '.') }}">{{ entity.ativo.codigo }}</td>
                <td>{{ entity.valorMercado|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorProvento|number_format(2, ',', '.') }}</td>
            </tr>
        {% set valorTotalMercado = valorTotalMercado + entity.valorMercado %}
        {% set valorTotalProvento = valorTotalProvento + entity.valorProvento %}
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ valorTotalMercado|number_format(2, ',', '.') }}</td>
                <td>{{ valorTotalProvento|number_format(2, ',', '.') }}</td>
            </tr>
        </tfoot>>
      </table>
    </div>
</div>
{% endblock %}
