{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Posição</h1>
            <p class="text-right">
                <a class="btn btn-default btn-success" href="{{ path('posicao_new') }}">Nova posição</a>
            </p>
        </div>

    <table class="datatable table table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>IF</th>
                <th>Dt Ref.</th>
                <th>Ativo</th>
                <th>Qtd</th>
                <th>Vr Bruto Total</th>
                <th>Vr Liq total</th>
                <th>Vr aplicado no mês</th>
                <th>Vr rendimento mês</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('posicao_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.instituicaoFinanceira.nome }}</td>
                <td title="{% if entity.posicaoAnterior.dataReferencia %}{{ entity.posicaoAnterior.dataReferencia|date('d/m/Y') }}{% endif %}">{% if entity.dataReferencia %}{{ entity.dataReferencia|date('d/m/Y') }}{% endif %}</td>
                <td title="{{ entity.ativo.nome }}">{{ entity.ativo.codigo }}</td>
                <td>{{ entity.quantidade|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorBrutoTotal|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorLiquidoTotal|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorAplicadoMes|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorRendimentoMes|number_format(2, ',', '.') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('posicao_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('posicao_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>{{ valorBrutoTotal|number_format(2, ',', '.') }}</th>
              <th>{{ valorLiquidoTotal|number_format(2, ',', '.') }}</th>
              <th>{{ valorAplicadoMes|number_format(2, ',', '.') }}</th>
              <th>{{ valorRendimentoMes|number_format(2, ',', '.') }}</th>
              <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
</div>
{% endblock %}
