{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
              Posição Sintética {{ mes }}/{{ ano }}
            </h1>
            <p class="text-right">
                <a class="btn btn-default" href="{{ path('posicao_new') }}">Posição Analítica</a>
                <a class="btn btn-default btn-success" href="{{ path('posicao_new') }}">Nova posição</a>
            </p>
        </div>

    <table class="datatable table table-condensed table-striped">
        <thead>
            <tr>
                <th>Data</th>
                <th>Tipo</th>
                <th>Valor mercado</th>
                <th>Valor proventos</th>
            </tr>
        </thead>
        <tbody>
        {% set valorTotalMercado = 0 %}
        {% set valorTotalProvento = 0 %}
        {% for entity in entities %}
            <tr>
                <td>{{ entity.dataReferencia.format('d/m/Y') }}</td>
                <td>{{ entity.nome }}</td>
                <td>{{ entity.valorMercado|number_format(2, ',', '.') }}</td>
                <td>{{ entity.valorProvento|number_format(2, ',', '.') }}</td>
            </tr>
        {% set valorTotalMercado = valorTotalMercado + entity.valorMercado %}
        {% set valorTotalProvento = valorTotalProvento + entity.valorProvento %}            
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ valorTotalMercado|number_format(2, ',', '.') }}</td>
                <td>{{ valorTotalProvento|number_format(2, ',', '.') }}</td>
            </tr>
        </tfoot>>        
      </table>
    </div>
</div>
{% endblock %}
