{% extends 'RoyopaSicinBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Instituições Financeiras</h1>

    <table class="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cnpj</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('instituicao_financeira_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cnpjFormatado }}</td>
                <td>
                    {% if entity.link %}
                    <a href="{{ entity.link }}" target="_blank">
                        {{ entity.nome }}
                    </a>
                    {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('instituicao_financeira_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('instituicao_financeira_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('instituicao_financeira_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}

